<div  class="containerOrders" >
  <section *ngFor="let order of orders" class="cardOrder">
    <h3>Cliente: {{order.client}}</h3>
    <div class="cardProduct">
      <div *ngFor="let product of order.ordersproducts" >
        <h5>{{product.product.name}} <br>
          Cantidad: {{product.quantity}}<br>
          Costo unitario: S/{{product.product.price}}</h5>
        <img  class="imgResponsive" src="{{product.product.image}}">
      </div>
    </div>
    <div>
      <h4>Total a pagar: S/{{order.newTotal}}</h4>
    </div>

    <div class="statusContainer">
      <p class="pending" *ngIf="order.orderstatusId===1">Pendiente</p>
      <p class="delivering" *ngIf="order.orderstatusId===3">Lista para entrega</p>
      <p class="delivered" *ngIf="order.orderstatusId===4">Entregada</p>
      <p class="cancel" *ngIf="order.orderstatusId===2">Cancelada</p>
    </div>
  </section>
</div>
