:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: medium;
  font-family: 'Patua One', cursive;
}
::ng-deep .mat-dialog-container {
  background-color:#e2cab3f6 !important ;
  width: 70%;
}
.mat-dialog-title,
.mat-dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Patua One', cursive;

}
::ng-deep .cdk-overlay-pane {
  justify-content: center;
    align-items: center;
}
::ng-deep .mat-form-field{
  color:black !important;
  font-family: 'Patua One', cursive;
  width: 100%;

}

.mat-dialog-actions button{
  background-color:rgb(71, 66, 66);
  color:white;
  font-size:15px;
  padding:5px;
  border-radius: 5px;
  margin:3px;
}
button:hover{background-color:red;}
.mat-radio-button{
  margin-left: 7px;
}
