<h2 mat-dialog-title>Actualizar datos</h2>
<div mat-dialog-content>
  <form  [formGroup]="formWorkerUpdate">
    <mat-form-field  appearance="outline">
      <mat-label> Correo</mat-label>
      <input formControlName="email" type="email" matInput  name="email" [(ngModel)]="data.email"/>
    </mat-form-field>

    <!--validación del correo-->
    <div *ngIf="emailField!.errors && emailField!.touched ">
      <p *ngIf="emailField!.hasError('required')" class="messageError" >El campo es requerido</p>
      <p *ngIf="emailField!.hasError('email')" class="messageError" >Ingrese correo valido</p>
    </div>

    <mat-form-field  appearance="outline">
      <mat-label>Password</mat-label>
      <input formControlName="password" [type]="hide ? 'password' : 'text'"  matInput />
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <!--validación de la contraseña-->
    <div *ngIf="passwordField!.errors && passwordField!.touched ">
      <p *ngIf="passwordField!.hasError('required')" class="messageError">El campo es requerido</p>
      <p *ngIf="passwordField!.hasError('minlength')" class="messageError">Ingrese mínimo 6 carácteres</p>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Rol</mat-label>
      <mat-select formControlName="userRol" [(ngModel)]="data.userRol">
        <mat-option *ngFor="let rol of roles" [value]="rol.value">
          {{rol.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>


</div>
<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="true" (click)="updateUser(data)" >Actualizar</button>
  <button mat-raised-button mat-dialog-close>Cancelar</button>
</div >


<!-- "email": "carol@gmail.com",
"password": "123456",
"admin":false,
"userRol":3 -->
