<h2  mat-dialog-title>actualizar producto</h2>
<div mat-dialog-content>

  <form [formGroup]="formCreateProduct" novalidate >
    <mat-form-field  appearance="outline">
      <mat-label> Nombre</mat-label>
      <input formControlName="name" matInput   name="name"  [(ngModel)]="data.name" />
    </mat-form-field>

    <!--validación del nombre-->
    <div *ngIf="nameField!.errors && nameField!.touched  ">
      <p *ngIf="nameField!.hasError('required')" class="messageError" >El campo es requerido</p>
    </div>

    <mat-form-field  appearance="outline">
      <mat-label>Precio</mat-label>
      <input formControlName="price" matInput type="number" name="price" [(ngModel)]="data.price"/>
    </mat-form-field>

    <!--validación del precio-->
    <div *ngIf="priceField!.errors && priceField!.touched ">
      <p *ngIf="priceField!.hasError('required')" class="messageError" >El campo es requerido</p>
    </div>

    <p>Escoja una imagen o agregue una url</p>

    <button type="button" mat-raised-button  class="btnImage" (click)="fileInput.click()">Escoge una imagen</button>
    <input hidden (change)="uploadImage($event)"
    #fileInput type="file" >

    <mat-form-field  appearance="outline">
      <mat-label>Url</mat-label>
      <input formControlName="image" matInput  name="image"  value={{url}} [(ngModel)]="data.image" />
    </mat-form-field>

    <!--validación de la url-->
    <div *ngIf="imageField!.touched">
      <p *ngIf="this.formCreateProduct.value.image === ('')" class="messageError" >El campo es requerido</p>
    </div>

    <mat-form-field  appearance="outline">
      <mat-label>Type</mat-label>
      <input formControlName="type" matInput  name="type" [(ngModel)]="data.type" />
    </mat-form-field>
    <!--validación de la url-->
    <div *ngIf="typeField!.errors && typeField!.touched ">
      <p *ngIf="typeField!.hasError('required')" class="messageError" >El campo es requerido con DESAYUNO, ALMUERZO, CENA</p>
    </div>
  </form>

</div>

<div mat-dialog-actions>
  <button   mat-raised-button  [mat-dialog-close]="true" (click)="saveDataProduct(data)">Actualizar</button>
  <button mat-raised-button  type="button" mat-dialog-close>Cancelar</button>
</div >


