.viewUsercontainer{
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.viewUsercontainer table {
  width: 80%;
  font-family: 'Patua One', cursive;
  background-color:white ;
  border-radius: 20px;
  text-align: center !important;
}

::ng-deep .mat-header-cell {
  color:black !important;
  background-color:#e0be9dbb ;
  text-align: center !important;
  font-size: larger;
}
::ng-deep .mat-dialog-container {


}
